body {
    background-color: rgba(0, 0, 0, 0.3);
}

.adminHeader {
    text-align: center;
    margin: 10px 0;
    font-size: 8em;
    letter-spacing: 5px;
    color: rgba(0,0,0,.6);
    text-shadow: 2px 3px 6px rgba(255, 255, 255, 0.5);
}

.adminRegForm {
    margin: 0 auto;
    padding: 100px 0;
    width: 60%;
    list-style: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminRegForm label {
    margin: 15px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.adminRegForm label input {
    font-size: 2em;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 3px;
    margin-left: 10px;
}
.adminRegForm label i {
    margin-left: 10px;
    color: gray;
    text-shadow: 2px 3px 6px black
}
#adminRegID, #adminRegEmail, #adminRegPass, #adminRegConPass, #adminRegName {
    height: 50px;
    width: 40%;
}

#adminRegAction {
    width: 30%;
    display: flex;
    justify-content: space-between;
    background: none;
}
#adminRegAction input {
    width: 45%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: whitesmoke;
    font-weight: bold;
    color: black;
}

